{% extends "base.html" %}

{% block content %}

  <main>
  
    <div class="container dark-grey-text">
        <div>
        <ul class="breadcrumb">
            <li><a href={% url 'index'%}>Inicio</a></li>
            <li><a href={% url 'category-page' user.category.name%}>{{user.category.name}}</a></li>
            <li>{{ user.name }} {{user.last_name}}</li>
        </ul>
        </div>
      <!--Grid row-->
      <div class="row wow fadeIn famous-page-main">

        <!--Grid column-->
        <div class="col-md-1.5 mb-4">
            
                <button class="profile-border ">
                <img class='profile-photo' src={{user.image.thumb.url}}>
                </button>
           
            
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4 famous-description">

          <!--Content-->
          <div class="p-4">
            <div class="mb-1">
            
                <span class="page-second-title">{{ user.name }} {{user.last_name}}</span>
              
            </div>
            {% if user.subcategory%}
            <div class="mb-1">
                <span class="badge purple mr-2">{{ user.subcategory }}</span>
            </div>
            {% endif %}
            

            <p class="lead font-weight-bold">{{user.description}}</p>

            <p>{{ object.description }}</p>
                    
            {% comment %} <form class="d-flex justify-content-left">
              <!-- Default input -->
              <input type="number" value="1" aria-label="Search" class="form-control" style="width: 100px">
              <button class="btn btn-primary btn-md my-0 p" type="submit">
                Add to cart
                <i class="fas fa-shopping-cart ml-1"></i>
              </button>

            </form> {% endcomment %}
            

          </div>
          <!--Content-->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <hr>

    <div class="row d-flex justify-content-center wow fadeIn">
        <div class="col-md-12 text-center">
            <h4 class="my-4 h4 page-second-title">Produtos</h4>
            <div class="buttons">
                {% for service in services%}
                    <button data-service-id="{{service.id}}" data-service-description="{{service.service.description}}" data-service-price="{{service.price}}" data-service-name="{{service.service.name}}" style="background-color:rgba(255,3,124,1.00);border-radius: 50px;" class="button button5 product-btn">{{service.service.name}}</button>
                {% endfor %}
            </div>
            </div>
        </div>
     
      <!--Grid row-->

      <!--Grid row-->
      {% if user.to_ngo%}
        <br>
        <hr>
        <div class="row d-flex justify-content-center wow fadeIn">
          <div class="col-md-6 text-center">
            <h4 class="my-4 h4 page-second-title">Doação</h4>
          </div>
          <div id="donation-container" class=" container d-flex row justify-content-center">
              <h4 class=" page-second-title">{{user.ngo.name}}</h4>
              <div style="flex-basis: 100%;"></div>
              <img src="{{user.ngo.image.thumb.url}}"/>
              <p>{{user.ngo.description}}</p>
           
          </div>
        </div>
      {% endif %}


      <br>
      <hr>
      <div class="row d-flex justify-content-center wow fadeIn">
        <div class="col-md-6 text-center">
          <h4 class="my-4 h4 page-second-title">Videos</h4>
        </div>
      </div>
      {% if videos %}
        <div id="videos-container" class="relative -mt-3 " uk-slider="finite: true">
          <div class="uk-slider-container px-1 py-3">
            <ul class="uk-slider-items uk-child-width-1-5@m uk-child-width-1-3@s uk-child-width-1-2 uk-grid-small uk-grid">
              {% for video in videos %}
              <li class="famous-video">
                <img src="{{video.url}}" class="img-fluid" alt="">
              </li>
              {% endfor %}
            </ul>
          </div>
          <a class="absolute bg-white  flex items-center justify-center p-2 -left-4 rounded-full shadow-md text-xl w-9 z-10 dark:bg-gray-800 dark:text-white btn-video-famous" href="#" uk-slider-item="previous"> <i class="icon-feather-chevron-left"></i></a>
          <a class="absolute bg-white  flex items-center justify-center p-2 -right-4 rounded-full shadow-md text-xl w-9 z-10 dark:bg-gray-800 dark:text-white btn-video-famous" href="#" uk-slider-item="next"> <i class="icon-feather-chevron-right"></i></a>
          </div>
          
        </div>
        <!--Grid row-->
      {% else %}
      <h1>{{user.name}} {{user.last_name}} não tem videos ainda! </h1>
      {% endif %}
    </div>
{% include 'footer.html' %}
  </main>

{% endblock content %}