<!-- Footer -->
<footer class="bg-dark text-center text-lg-start footer" style="background-color: rgb(29, 36, 40);">
  <!-- Grid container -->
  <div class="container p-4 footer">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">

        <ul class="list-unstyled mb-0">
          <li>
            <a href="#!" class="footer-text">Perguntas Frequentes</a>
          </li>
          <li>
            <a href="#!" class="footer-text">Privacidade</a>
          </li>
          <li>
            <a href="#!" class="footer-text">Termos de uso</a>
          </li>
          <li>
            <a href="#!" class="footer-text">Ajuda</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">

        <ul class="list-unstyled">
          <li>
            <a href="#!" class="footer-text">Sobre</a>
          </li>
          <li>
            <a href="#!" class="footer-text">ONGs</a>
          </li>
          <li>
            <a href={% url 'category-page' 'Nosso Time'%} class="footer-text">Time</a>
          </li>
          <li>
            <a href="#!" class="footer-text">Contato</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <p class="footer-text" style:"color:#fff;">Gostaria de ser nosso parceiro?</p>
        <br>
        <button> 
            <div class="  bg-green-100 font-medium px-2 py-1 right-2 rounded-full text text-blue-500 text-sm">
                Seja Nosso parceiro!
            </div>
        </button>
      </div>
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="color:white;">
    © 2021 Copyright:
    <a style="color:#BBBBBB;" class="footer-text" href="https://fanplace.com.br/">FanPlace.com.br</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->